extends layout
block content
  script(src='/javascripts/index.js', type='text/javascript')
  
  link(rel='stylesheet', href='/tabulator/dist/css/tabulator.min.css')
  script(src='/tabulator/dist/js/tabulator.min.js', type='text/javascript')

  body
    div#systems
