extends ../layout
block content
  script(src='/javascripts/boxes/audit.js', type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/boxes.css')

  link(rel='stylesheet', href='/tabulator/dist/css/tabulator.min.css')
  script(src='/tabulator/dist/js/tabulator.min.js', type='text/javascript')

  body
    div#controls
      - boxTypeLabel = window.application.boxType.charAt(0).toUpperCase() + window.application.boxType.slice(1);
      img(src="/images/systems/" + window.application.system + "/logo.png", height="50px")
      h1 Boxes Audit: #{boxTypeLabel}
      div(class="buttons")
        input#create(type="button", value="Create Master File") 
        div#processing
      p Comparing the Dat file against the existing masterfile: #{window.application.masterfileDetails}

    div#titles
